*       @shopify/cli-foundations

packages/cli-hydrogen/ @shopify/hydrogen
packages/create-hydrogen/ @shopify/hydrogen

packages/theme/ @shopify/theme-developer-tools

packages/ui-extensions-* @shopify/ui-extensions-cli

# Checkout UI extensions generate template
packages/app/templates/ui-extensions/projects/checkout_ui/ @Shopify/checkout-ui-extensions-api-stewardship

packages/app/src/cli/services/dev/extension/ @shopify/ui-extensions-cli
packages/app/src/cli/services/dev/extension.ts @shopify/ui-extensions-cli

